
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&family=Nunito:wght@300;400;500;600;700;800;900;1000&display=swap');

* {
  color: white;
  box-sizing: border-box;
  font-family: 'Noto Sans', 'Times New Roman', Times, serif;
  font-size: var(--font-size);
  font-weight: bold;
}

/* UTILS */

.degrees {
  position: relative;
}

.degrees::after{
  content: '\00B0 F';
  position: absolute;
  font-size: 0.25em;
  top: 0.6em;
  left: 4.5em;
}


html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-image: url(./assets/images/pexels-philippe-donn-1169754.jpg);
  background-size: cover;
}

.container {
  padding: 5vh 10vw;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
}

.title {
  font-size: 2.5rem;
  font-family: 'Nunito', sans-serif;
}

.header form {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header form input {
  all: unset;
  cursor: text;
  border-bottom: solid rgba(255, 255, 255, 0.582);
  padding: 0px 5px;
  font-family: 'Nunito', sans-serif;
}

.arrow img{
  height: 4rem;
  width: 4rem;
}

.header form button {
  all: unset;
  cursor: pointer;
}

.header button img{
  width: 2rem;
  height: 2rem;
}

.content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.arrow {
  all: unset;
  cursor: pointer;
}

.description {
  grid-area: desc;
  font-size: 1.5rem;
}

.location {
  grid-area: location;
  font-size: 3rem;
}

.date {
  grid-area: date;
}

.current-temp {
  grid-area: temp;
  font-size: 7rem;
}

.weather-details {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.weather-details:before {
  content: "";
  border: 1px solid rgba(255, 255, 255, 0.582);
  align-self: stretch;
}

.current-temp,
.left-side-details {
  font-family: 'Nunito', sans-serif;
  order: -1;
}

.right-side-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.left-side-details .high-temp,
.left-side-details .low-temp {
  font-family: 'Nunito', sans-serif;
  font-size: 4rem;
  font-weight: 900;
}

.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;  
  font-family: 'Nunito', sans-serif;
}

.sad-face {
  font-size: 5rem;
}

.solution-container {
  text-align: start;
  margin: 0;
}

.error-message {
  font-size: 3rem;
}

.solution-message {
  text-align: left;
  font-size: 1.5rem;
}

.footer {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}

.footer img {
  height: 35px;
  width: 35px;
}

@media (min-width: 1200px) {
  html {
    font-size: 28px;
  }
  .weather-details {
    gap: 100px;
  }
}

@media (max-width: 1000px) {
  html {
    font-size: 14px;
    align-items: center;
  }
  .header button img{
    width: 3rem;
    height: 3rem;
  }
  .header form input {
    width: 225px;
  }
  .weather-details {
    flex-direction: column
  }
  .right-side-details {
    font-size: 1.8rem;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 9px;
  }
  .container {
    align-items: center;
  }
  .right-side-details div {
    font-size: 2rem;
  }
  .header {
    flex-direction: column;
    align-items: center;
    justify-content: start;
    row-gap: 15px;
  }
  .header form input {
    width: 150px;
  }
}