:root {
  --font-size: 20px;
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&family=Nunito:wght@300;400;500;600;700;800;900;1000&display=swap');

* {
  color: white;
  box-sizing: border-box;
  font-family: 'Noto Sans', 'Times New Roman', Times, serif;
  font-size: var(--font-size);
  font-weight: bold;
}



html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-image: url(./assets/images/pexels-philippe-donn-1169754.jpg);
  background-size: cover;
}

.container {
  padding: 5vh 10vw;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: calc(var(--font-size)*2);
}

.header form input {
  all: unset;
  cursor: text;
  border-bottom: solid rgba(255, 255, 255, 0.582);
  padding: 0px 5px;
}

.header form button {
  all: unset;
  cursor: pointer;
}

.header button img{
  width: 40px;
  height: 40px;
}

.content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.arrow {
  all: unset;
  cursor: pointer;
}

.description {
  grid-area: desc;
  font-size: calc(var(--font-size)*1.5);
}

.location {
  grid-area: location;
  font-size: calc(var(--font-size)*3);
}

.date {
  grid-area: date;
}

.current-temp {
  grid-area: temp;
  font-size: calc(var(--font-size)*6);
}

.weather-details {
  margin-top: 15px;
  display: flex;
  gap: 30px;
}

.weather-details:before {
  content: "";
  border: 1px solid rgba(255, 255, 255, 0.582);
  align-self: stretch;
}

.current-temp,
.left-side-details {
  font-family: 'Nunito', sans-serif;
  order: -1;
}

.right-side-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.left-side-details .high-temp,
.left-side-details .low-temp {
  font-family: 'Nunito', sans-serif;
  font-size: calc(var(--font-size)*4);
  font-weight: 900;
}

.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-block-start: 1em;
  text-align: left;
}

.sad-face {
  font-size: calc(var(--font-size)*5);
}

.solution-container {
  text-align: start;
  margin: 0;
}

.error-message {
  font-size: calc(var(--font-size)*3);
}

.solution-message {
  text-align: left;
  font-size: calc(var(--font-size)*1.5);
}

.footer {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}

.footer img {
  height: 35px;
  width: 35px;
}

